<div class="jumbotron">
    <h2 style = "text-decoration:underline">Action Filters Web API Demo</h2>
    <p class="lead">This is a web api focusing on action filter. The API demonstrate how to use following as filter on controllers</p>
    <p>
        1 - Authenticate with API Key <br/>
        2 - Authenticate with JWT token <br/>
        3 - Authenticate with Ldap
    </p>
    <div>&nbsp;</div>
</div>
